:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.btn:hover {
  padding: 8px 20px;
  transition: ll 0.3s ease-out;
}

.buttons {
  padding: 0.5rem 1rem;
}
