.navBarItems {
  background-color: black;
  height: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 12px;
}
.navbar-logo {
  color: #ffff;
  justify-self: start;
  margin-left: 2rem;
  cursor: pointer;
  width: 970vw;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  text-align: center;
  justify-content: end;
  width: 70vw;
  margin-right: 8rem;
}

.nav-links {
  color: #ffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
